<section class="flex-auto">
    <div class="flex flex-row items-center fixed-width-container mt2 center ph3 ph0-l overflow-hidden">
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [{
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Home",
                    "item": "https://byjusexamprep.com/"
                }, {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "About Us",
                    "item": "https://byjusexamprep.com/about-us"
                }]
            }
        </script>
    </div>
    <div class="flex items-center text-center bg-primary pt3 ph4 relative"><img class="self-center left-2 absolute bottom-0 dn flex-l" alt="header left icon" src="https://gs-post-images.grdp.co/2019/1/vector-1-img1547184565364-57.png-rs-high-webp.png">
        <img src="../../../assets/aboutus.png" alt="header center icon"><img class="self-center left-2 absolute bottom-0 dn flex-l" alt="header left icon" src="https://gs-post-images.grdp.co/2019/1/vector-1-img1547184565364-57.png-rs-high-webp.png"></div>

    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <h1 class="head text-center"><b>About Us</b></h1>
            </div>
            <div class="card-body">
                <h3 class="flex mt3">Exam Portal is the most comprehensive preparation app for all programming languages,fashion , business other many more exams. We aim to provide our aspirants with end-to-end preparation so that they can achieve their goals. To help our
                    students prepare efficiently for various exams, we offer online classroom programs conducted by India’s top faculty, comprehensive study material that’s exclusively designed by our subject-matter experts &amp; latest pattern test series
                    with in-depth performance analysis so that they can recognize their true potential &amp; establish a successful career. we’re aiming to become India’s #1 trusted brand for exam preparation enabling the highest number of students to
                    succeed.</h3>

                <h2><b>Email Address:</b> examprotalcommunity@gmail.com</h2>
            </div>
        </div>

    </div>
    <div class="bg-black-10 pv3"><span class="flex justify-between flex-row-l flex-column mv4-l mv2 fixed-width-container">
        </span>
    </div>

</section>