<!-- Footer -->
<footer class="page-footer text-white font-small blue pt-4 mt-3">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6">
                <h4>Find at Social Media</h4>

                <!-- Content -->
                <!-- Facebook -->
                <a href="https://www.google.co.in/">
                    <img class="img-res" src="../../../assets/google.png">
                </a>
                <!-- Twitter -->
                <a href="https://twitter.com/shubham80166149" class="ml3">
                    <img class="img-res" src="../../../assets/twitter.png">
                </a>
                <!-- facebook-->
                <a href="https://www.facebook.com/profile.php?id=100010176271383" class="ml3">
                    <img class="img-res" src="../../../assets/facebook.png">
                </a>

                <!--Instagram-->
                <a class="ml3" href="https://www.instagram.com/yadavshubher/">
                    <img class="img-res" src="../../../assets/instagram.png">
                </a>
                <!--github -->
                <a class="ml3" href="https://github.com/Shubham-yadav36">
                    <img class="img-res" src="../../../assets/github.png">
                </a>
                <!--linkedin -->
                <a class="ml3" href="https://www.linkedin.com/in/shubham-yadav-61a95a169/">
                    <img class="img-res" src="../../../assets/linkedin.png">
                </a>


            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="links col-md-3">

                <!-- Links -->
                <h4 class="text-uppercase">Quick Links</h4>

                <ul class="list-unstyled">
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li><a href="https://www.google.co.in/">Google</a></li>
                    <li>
                        <a href="https://github.com/">GitHub</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="links col-md-3">

                <!-- Links -->
                <h4 class="text-uppercase">Reach to us</h4>

                <ul class="list-unstyled">
                    <li>
                        <a routerLink="/about">About Us</a>
                    </li>
                    <li>
                        <a routerLink="/contact">Contact Us</a>
                    </li>
                    <li>
                        <a routerLink="">Activities</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a style="text-decoration:none; color:ivory" href="https://shubhampatelyadav.blogspot.com/"> shubhampatelyadav.blogspot.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->