<h1 class="text-center mt-2">
    <strong>Questions of {{ qTitle }}</strong>
</h1>
<div class="container">
    <div class="container text-center">
        <button [routerLink]="'/admin/add-questions/' + qId + '/' + qTitle" mat-raised-button color="accent">
          Add New Question
        </button>
        <h2 class="mt-4" *ngIf="questions.length == 0">No Questions Available</h2>
    </div>
    <h2></h2>
    <div class="row">
        <div class="col-md-12">
            <mat-card *ngFor="let q of questions; let i = index" class="my-2">
                <mat-card-content>
                    <p>
                        <b>Q {{ i + 1 }}) </b> <span [innerHTML]="q.content"></span>
                    </p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>1) </b>{{ q.option1 }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>2) </b>{{ q.option2 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>3) </b>{{ q.option3 }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>4) </b>{{ q.option4 }}</p>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <p class="mt-2">
                        <b>Correct Answer : </b><span>{{ q.answer }}</span>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="deleteQuestion(q.qId)" color="warn">
            Delete
          </button>
                    <button mat-raised-button [routerLink]="'/admin/update-question/' + q.qId + '/' + qTitle" color="accent">
            Update
          </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>